In [1]:
import pandas as pd

In [9]:
my_series=pd.Series([11,22,44,55,90],index=["one","two","three","four","five"])
mylist=[11,22,44,55,90]

In [5]:
type(mylist)
type(my_series)

pandas.core.series.Series

In [10]:
my_series

one      11
two      22
three    44
four     55
five     90
dtype: int64

In [11]:
my_series.index

Index(['one', 'two', 'three', 'four', 'five'], dtype='object')

In [13]:
my_dict={"Name":["chandan","neha","amit"],"Marks":[79,89,86],"Age":[28,27,26]}

In [14]:
type(my_dict)

dict

In [15]:
my_dict

{'Name': ['chandan', 'neha', 'amit'],
 'Marks': [79, 89, 86],
 'Age': [28, 27, 26]}

In [16]:
my_dict.keys()

dict_keys(['Name', 'Marks', 'Age'])

In [17]:
my_dict.values()

dict_values([['chandan', 'neha', 'amit'], [79, 89, 86], [28, 27, 26]])

In [18]:
my_dict["Name"]

['chandan', 'neha', 'amit']

In [22]:
my_dataframe=pd.DataFrame(my_dict,index=["case1","case2","case3"])

In [20]:
type(my_dataframe)

pandas.core.frame.DataFrame

In [23]:
my_dataframe

          Name  Marks  Age
case1  chandan     79   28
case2     neha     89   27
case3     amit     86   26

In [24]:
my_dataframe.shape

(3, 3)

In [25]:
my_dataframe.Name

case1    chandan
case2       neha
case3       amit
Name: Name, dtype: object

In [26]:
my_dataframe["Name"]

case1    chandan
case2       neha
case3       amit
Name: Name, dtype: object